

.top-navbar {
     
}

.navbar-brand {
    margin-right: 400px;
}


.main {
    background-image: url(/img/blueback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-content {
    
    
}



.header-info, .header-p  {
    padding-top: 200px;
    color: white;
}

.challenge-Section h3 {
    color: white;
}

.challenge-group {
    
    
    justify-content: center;
    

   
}

.card {
    border-radius: 0%;
    
}

.card-body,
.card-title,  
.card-text  {
    justify-content: center;
    padding: 0%;
    margin: 0%;
}


.service-info {
   display: flex;
}

@media (max-width:500px) {
    .service-info {
        display: block;
    }
}

@media (max-width:1000px) {
    .service-info {
        display: block;
    }
}

.web {
    
}

    .row {
        
    }
    
    .seo {
        background-color:#b3d4fc;
        
    }

    .webdes {
        background-color:#b3d4fc;
        
    
    }

    .service-content {
        margin: 2rem;
    }

     .card-title, .card-text {
        margin-bottom: 15px;
    }

    .webdev  {
        background-color:#b3d4fc;
        
    
  
    }

    .marketing {
        background-color:#b3d4fc;
        
    }

        .card-title {
            font-family: 'EB Garamond', serif;
        }

        .card-text {
            font-family: 'EB Garamond', serif;
        }




.footer {
    background-color: rgb(17, 18, 40);
    
}


.footer-content ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}


